:root {
    /*Paleta de colores básica*/
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}





h1 {color: #e73a2d}
p {color: #0a303a}
body {
    width: 100%;   
    font-size: 16px;
    line-height: 1.5; 
    font-family: var(--font-family);
    background-color: var(--background-color-secondary);
}

#apadrina {
    background-color: #fff;
    color: #676666;
}


.font-size-subti {
    font-size: 22px;
    color: #e73a2d;
}

#caja{
    background-color: white;
    width: 200px;
    text-align: center;
}

#cuadrado{
    top: -10px;
    opacity: 1;
}

.padding-a {
    padding-top: 2rem;
    padding-bottom: 0rem;

}
/*Permite que las cajas hijo esten alineados*/
.col-63 {
    flex-basis: 63.33%;
    max-width: 63.33%;
    margin-left: auto;
    margin-right: auto;

}
