

#apadrina {
    background-color: #fff;
    color: #676666;
}


.font-size-subti {
    font-size: 22px;
    color: #e73a2d;
}

.caja{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.caja-short{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}



#cuadrado{
    top: -10px;
    opacity: 1;
}

.padding-a {
    padding-top: 2rem;
    padding-bottom: 0rem;

}
/*Permite que las cajas hijo esten alineados*/
.col-63 {
    flex-basis: 63.33%;
    max-width: 63.33%;
    margin-left: auto;
    margin-right: auto;
    
    

}
 
 .apadrina-item{
    display: flex;
    flex-direction: column;
    align-items: center;
 }