@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #e73a2d;       
    --secondary-color: #1e4b57;    
    --secondary-color2: #0a303a; 
    --background-color: #fff;
    --background-color-secondary: #d5e6eb;  
    --text-color: #676666; 
    --text-color2:#838181;
    --font-family: "Poppins", sans-serif;
    --font-family-secondary:'Nunito', sans-serif;
    --border-radius:0.3rem;
    --border-radius-secondary:1rem;
    
}

/* BARRA DE NAVEGACIÓN */

#cabecera {
    background-color: var(--background-color);
    box-shadow: 0px 8px 50px -6px rgba(0,0,0,0.3); /* Añade una sombra al encabezado */
    padding: 16px 0; /* Añade un relleno superior e inferior de 16px */
    position: sticky; /* Hace que el encabezado se mantenga fijo al hacer scroll */
}

#titulo-contactanos{
    padding-top: 45px;
    padding-bottom: 45px;
    color: var(--background-color);
    background: linear-gradient(90deg, rgba(10, 48, 58, 0.6), rgba(231, 58, 45,0.6)), url(../assets/images/blog/dogo.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right center; 
    

}

#titulo-contactanos, a, h2{
    color: var(--background-color);
    text-decoration: none;  
}

.ajuste-mapa{
    width: 100%;
}

.sticky-top {
    position: sticky;
    top: 0; /* Fija el elemento en la parte superior */
    z-index: 1020; /* Asegura que el encabezado esté por encima de otros elementos */
}

.barra {
    display: flex; /* Utiliza flexbox para la disposición de los elementos */
    flex-direction: row; /* Alinea los elementos en una fila */
    justify-content: space-between; /* Espacia los elementos de manera uniforme */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    position: relative; /* Posiciona el elemento de manera relativa para los hijos */
}

.logo {
    width: 140px; /* Establece el ancho del logo */
}

.menu {
    display: flex; /* Utiliza flexbox para el menú */
    flex-direction: row;
    list-style: none; /* Quita los marcadores de viñetas de la lista */
    gap: 1rem; /* Añade un espaciado de 1rem (16px) entre los elementos del menú */
}

.header-shape {
    background-image: url("../assets/images/bg/header_shape.png"); /* Establece una imagen de fondo */
    position: absolute; /* Posiciona el elemento de manera absoluta */
    top: 3rem; /* Coloca el elemento a 3rem (48px) desde la parte superior */
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
    height: 58px; /* Establece la altura del elemento */
    z-index: -1; /* Coloca el elemento detrás de otros elementos */
    background-repeat: repeat; /* Repite la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
}

.nav-button {
    padding-left: 2rem; /* Añade un relleno a la izquierda de 2rem (32px)*/
    border-left: 2px solid #d5d2d2; /* Añade un borde a la izquierda */
}

.active, .nav-menu-link:hover {
    position: relative; /* Posiciona el elemento de manera relativa */
    display: inline-block; /* Hace que el elemento se comporte como un bloque en línea */
    color: var(--background-color) !important; 
    font-weight: bold; /* Establece el texto en negrita */
    background-color: transparent; /* Establece un fondo transparente */
    background-image: url('../assets/images/slider/arrow_bg.png'); /* Establece una imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
    background-size: 100% 100%; /* Ajusta la imagen de fondo para que ocupe todo el espacio */
    border: none; /* Quita el borde del elemento */
    text-align: center; /* Centra el texto dentro del elemento */
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    transition: opacity 0.3s linear, transform 0.3s linear; /* Añade una transición suave para opacidad y transformación */
    z-index: 1; /* Asegura que el elemento esté por encima de otros elementos */
}

.grupo {
    display: flex; /* Utiliza flexbox para la disposición de los elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.miembros {
    background-color: white; 
    color: #002b55; /* Establece el color del texto */
    border-radius: 10px; /* Añade bordes redondeados */
    margin: 10px; /* Añade un margen de 10px alrededor del elemento */
    padding: 15px; /* Añade un relleno interno de 15px */
    width: 200px; /* Establece un ancho fijo de 200px */
    text-align: center; /* Centra el texto dentro del elemento */
}

.miembros img {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.miembros h3 {
    font-size: 1.2em; /* Establece el tamaño de fuente del nombre del miembro */
    margin: 10px 0 5px 0; /* Añade márgenes superior e inferior */
}

.miembros p {
    font-size: 0.9em; /* Establece el tamaño de fuente de la descripción del miembro */
}

body {
    font-family: Arial, sans-serif; /* Establece la fuente del cuerpo */
    background-color: #f9f9f9; /* Establece el color de fondo del cuerpo */
    margin: 0; /* Elimina el margen del cuerpo */
    padding: 0; /* Elimina el relleno del cuerpo */
}

.team-section {
    text-align: center; /* Centra el texto dentro de la sección del equipo */
    padding: 50px; /* Añade un relleno de 50px alrededor de la sección */
    background-color: #e73a2d; /* Establece el color de fondo de la sección del equipo */
    color: white; /* Establece el color del texto en blanco */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.16),  rgba(255, 255, 255,0.5)), url('../assets/images/Nosotros/fondo\ 1.webp');
    width: 100%;
} 

.team-section h1 {
    font-size: 2.5em; /* Establece el tamaño de fuente del título */
    margin-bottom: 20px; /* Añade un margen inferior de 20px */
}

h1 {
    color: var(--background-color); /* Establece el color del título usando una variable CSS */
}

/* PIE DE PAGINA */

.footer {
    background: #f4f1EA; /* Establece el color de fondo del pie de página */
    color: var(--background-color); /* Establece el color del texto usando una variable CSS */
    padding: 20px 0; /* Añade un relleno vertical de 20px */
    font-family: var(--font-family); /* Establece la fuente del pie de página usando una variable CSS */
    position: relative; /* Posiciona el pie de página de manera relativa */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    max-width: 100%; /* Establece un ancho máximo para el pie de página */
    margin: 0 auto; /* Centra el pie de página horizontalmente */
}

.footer-section .llamar {
    color: var(--primary-color); /* Establece el color del texto usando una variable CSS */
    font-size: 18px; /* Establece el tamaño de fuente */
    margin-bottom: 10px; /* Añade un margen inferior de 10px */
}

.footer-content {
    display: flex; /* Utiliza flexbox para la disposición de los elementos */
    justify-content: space-between; /* Espacia los elementos de manera uniforme */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    max-width: 1200px; /* Establece un ancho máximo para el contenido del pie de página */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    position: relative; /* Posiciona el contenido de manera relativa */
    z-index: 1; /* Asegura que el contenido esté por encima de otros elementos */
}

.footer-section {
    flex: 1; /* Permite que la sección del pie de página crezca para ocupar el espacio disponible */
    padding: 0 20px; /* Añade un relleno lateral de 20px */
    min-width: 160px; /* Establece un ancho mínimo para la sección */
}

.footer-section h3 {
    color: var(--secondary-color); /* Establece el color del texto usando una variable CSS */
    margin-bottom: 10px; /* Añade un margen inferior de 10px */
    font-size: 18px; /* Establece el tamaño de fuente */
}

.footer-section ul {
    list-style-type: none; /* Quita los marcadores de viñetas de la lista */
    padding: 0; /* Elimina el relleno de la lista */
    margin: 0; /* Elimina el margen de la lista */
}

.footer-section ul li a {
    color: var(--text-color); /* Establece el color del texto del enlace usando una variable CSS */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-size: 14px; /* Establece el tamaño de fuente del enlace */
    line-height: 2; /* Establece la altura de línea para el enlace */
    display: block; /* Hace que el enlace ocupe todo el espacio */
}

.footer-section ul li a:hover {
    color: var(--primary-color); /* Cambia el color del enlace al pasar el ratón usando una variable CSS */
}

.social-links a {
    font-size: 1.5em; /* Establece el tamaño de fuente de los enlaces de redes sociales */
    margin-right: 10px; /* Añade un margen a la derecha de 10px */
}

.instagram-grid {
    display: grid; /* Utiliza grid para la disposición de los elementos */
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
    gap: 10px; /* Añade un espacio de 10px entre los elementos de la cuadrícula */
}

.instagram-grid img {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen se comporte como un bloque */
    border-radius: var(--border-radius); /* Aplica un borde redondeado usando una variable CSS */
}

/* Cambia el color de los íconos de redes sociales */
.social-links a {
    color: var(--secondary-color); /* Establece el color del texto usando una variable CSS */
    transition: color 0.3s ease; /* Añade una transición suave al color */
}

.social-links a:hover {
    color: var(--primary-color); /* Cambia el color al pasar el ratón usando una variable CSS */
}

/* PREGUNTAS FRECUENTES */

body {
    font-family: Arial, sans-serif; /* Establece la fuente del cuerpo */
    background-color: #f0f0f5; /* Establece el color de fondo del cuerpo */
    color: #333; /* Establece el color del texto del cuerpo */
}

.seccion-pf {
    max-width: 800px; /* Establece un ancho máximo de 800px */
    margin: 80px auto; /* Centra la sección con márgenes superior e inferior de 50px */
    padding: 20px; /* Añade un relleno de 20px */
    background-color: var(#ffffff);
    color: white; /* Establece el color del texto en blanco */
    border-radius: 8px; /* Añade bordes redondeados */
}        

.titulo-pf {
    color: var(--secondary-color); 
    text-align: center; /* Centra el texto del título */
    margin-bottom: 20px; /* Añade un margen inferior de 20px */
    font-size: 70px; /* Establece el tamaño de fuente del título */
    font-weight: bold; /* Establece el texto en negrita */
}

.articulo {
    margin-bottom: 15px; /* Añade un margen inferior de 15px entre los artículos */
    border: 1px solid #e0e0e0; /* Establece un borde gris claro alrededor del artículo */
    border-radius: 5px; /* Añade bordes redondeados al artículo */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    transition: background 0.3s; /* Añade una transición suave al fondo */
    background: #f1f1f1; /* Establece un fondo claro para el artículo */
    padding: 10px;
}

.cuestionario {
    display: block;
    cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el elemento */
    padding: 30px; /* Añade un relleno de 15px */
    margin: 10px 0; /* Añade márgenes superior e inferior de 5px */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.16),  rgba(255, 255, 255,0.5)), url('../assets/images/Nosotros/fondo\ 1.webp');/* Establece el color de fondo del cuestionario */
    border-radius: 10px; /* Añade bordes redondeados al cuestionario */
    font-size: 35px; 
    color:#002b55;
}

.respuesta {
    /* Oculta la respuesta por defecto */
    padding: 15px; /* Añade un relleno de 15px */
    margin-top: -10px; /* Añade un margen negativo superior de 10px */
    background-color: #ffffff; /* Establece el color de fondo de la respuesta en blanco */
    color: #333; /* Establece el color del texto en la respuesta */
    border-radius: 4px; /* Añade bordes redondeados a la respuesta */
    cursor: pointer;
    font-weight: bold;
}

