@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #e73a2d;
    --secondary-color: #1e4b57;
    --secondary-color2: #0a303a;
    --background-color: #fff;
    --background-color-secondary: #d5e6eb;
    --text-color: #676666;
    --text-color2: #838181;
    --font-family: "Poppins", sans-serif;
    --font-family-secondary: 'Nunito', sans-serif;
    --border-radius: 0.3rem;
    --border-radius-secondary: 1rem;

}

/* Afectará a todos los elementos de la página HTML (selector universal) */
* {
    /* Elimina los márgenes y espaciados predeterminados */
    margin: 0;
    padding: 0;


    /* Evita que el tamaño de la caja se vea afectado por el padding y el border */
    box-sizing: border-box;
}

html {

    /* Suavizar el desplamiento del scroll en la ventana */

    scroll-behavior: smooth;

}

/* Tipografía base */


body {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-family);
    background-color: var(--background-color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-secondary);
    color: var(--secondary-color2);
    margin-top: 0px;
    font-style: normal;
    font-weight: 900;
    text-transform: inherit;
    line-height: 1;
}


p {
    color: var(--text-color);
}

li {
    list-style: none;
}


/* Elimina el espacio que aparece debajo del objeto */
img {
    display: block;
}



/* title */
/* dentro del titulo si tiene span se cambiara de color  */
.title span,
.title-span {
    color: var(--primary-color);
}

/* le agregamos la imagen de pata al final con after */
.title::after {
    content: "";
    background-image: url("../assets/images/slider/patita.png");
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: -10px;
}

 

/* Botones css Start */
.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--background-color);
    padding: .7rem 1.5rem;
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease
}


.button-primary:hover {
    background-color: var(--secondary-color2);
}

.button-primary::after {
    content: "";
    background-image: url("../assets/images/slider/patita-white.png");
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    margin-left: .4rem;
}

.button-secondary {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--font-family-secondary);
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}


.button-secondary:hover {
    color: var(--secondary-color2);
}

.button-secondary::after {
    content: "";
    background-image: url("../assets/images/slider/patita-red.png");
    display: inline-block;
    position: relative;
    width: 1.9rem;
    height: 1.9rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10px;
    margin-left: .4rem;
}

/* Botones css End */


/* breadcrumbs */
.breadcrumbs {
    padding: 1rem 0;
}

.breadcrumbs ol {
    display: flex;
}

.breadcrumbs ol li {
    list-style: none;
    font-size: 14px;
    margin-right: 0.5rem;
    color: var(--text-color2);
    font-weight: 500;
}

.breadcrumbs ol li a {
    text-decoration: none;
    color: var(--text-color2);
}

.breadcrumbs ol li a:hover {
    color: var(--primary-color);
}

.breadcrumbs i {
    margin-right: 0.4rem;
}


/* Se reemplazara por bootstrap */
/* Contenedores Start*/
.center {
    text-align: center;
}

.imgfluid {
    width: 100%;
}

.font-size-xl {
    font-size: 3rem;
}

.font-size-l {
    font-size: 2.5rem;
}


.rounded {
    border-radius: 1rem;
}

.padding-y {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-1t{
    padding-top: 1rem;
}

.contenedor-short {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
} 
.contenedor {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.padding-y2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Activar flexbox */
.row {
    display: flex;
    flex-direction: row;
    /* Coloca las cajas hijo en fila */
    flex-wrap: wrap;
    /* Habilita la caja flexbox multifila */
}

.del-padded {
    /* Anular el padding-left y padding-right, de la primera y última columna, respectivamente */
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    /* Permite que las cajas hijo tengan el mismo ancho */
    flex-basis: 0;
    flex-grow: 1;

    /* Espacio entre columnas */
    padding-left: 15px;
    padding-right: 15px;
    padding: 10px 15px;
}

.col-m {
    /* Permite que las cajas hijo tengan el mismo ancho */
    flex-basis: 0;
    flex-grow: 1;

    /* Espacio entre columnas */
    padding-left: 15px;
    padding-right: 15px;
    margin: 2rem;
}


.col-20 {
    flex-basis: 20%;
    max-width: 20%;
}

.col-25 {
    flex-basis: 25%;
    max-width: 25%;
}

.col-33 {
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.col-50 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-66 {
    flex-basis: 66.66%;
    max-width: 66.66%;
}


/* Contenedores End*/


div {
    display: block;
    unicode-bidi: isolate;
}

/* ------------------------------------------------------ */
/* ESTILOS PARA FORMATEAR LA BARRA DE NAVEGACIÓN */
/* ------------------------------------------------------ */


#cabecera {
    background-color: var(--background-color);
    box-shadow: 0px 8px 50px -6px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    position: sticky;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}


.header-shape {
    background-image: url("../assets/images/bg/header_shape.png");
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 58px;
    z-index: -1;
    background-repeat: repeat;
    background-position: center;
}


/* Barra de navegación */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Alineación horizontal */
    align-items: center;
    /* Alineación vertical */
    position: relative;
}

/* Ajusta el tamaño del logo */
.nav-logo {
    width: 140px;
}

/* Barra de menú */
.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* Quita el marcador de viñetas */
    gap: 1rem;

}

/* Enlaces individuales del menú */
.nav-menu-link {
    text-decoration: none;
    /* Quita el subrayado */
    font-family: var(--font-family) !important;
    padding: 5px 10px !important;
    display: inline-block !important;
    font-family: var(--font-family) !important;
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-color);
}


.active,
.nav-menu-link:hover {
    position: relative;
    display: inline-block;
    color: var(--background-color) !important;
    font-weight: bold;
    background-color: transparent;
    background-image: url('../assets/images/slider/arrow_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none; 
    text-align: center;
    max-width: 100%;
    transition: opacity 0.3s linear, transform 0.3s linear;
    z-index: 1;
}

.nav-button {
    padding-left: 2rem;
    border-left: 2px solid #d5d2d2;
}

/*Card cifras Start*/ 
/* Estilos de card de cifras */
#cifras {
    background-image: url('../assets/images/bg/counter_bg.jpg');
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: var(--border-radius-secondary);
    padding: 1rem;
    margin: 1rem 1rem;
}
.card .cifras-number {
    font-weight: 700;
    font-size: 3rem;
    color: var(--secondary-color2);
    transition: 0.4s ease-out;
}


/* Agregamos al final la imagen de pata y lo ponemos opacity 0 para que no se vea */
.card .cifras-number::after {
    content: "";
    background-image: url("../assets/images/slider/patita.png");
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: -10px;
    transition: 0.4s ease-out;
    opacity: 0;
}

/* cambiamos de color al pasar el cursor */
.card .cifras-number:hover {
    color: var(--primary-color);
}

/* Aparecemos la pata al pasar el cursor */
.card .cifras-number:hover::after {
    top: -10px;
    opacity: 1;
}


/* Card cifras End */

/* Adopta */
#adopta {
    background-color: var(--background-color);
}

/* Adopta mascota */
#adoptar-mascota{
    background-image: url(../assets/images/bg/counter_bg.jpg);
}
#adoptar-mascota .caracteristicas li { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
#adoptar-mascota   .subtitle{
    width: 60%;
}
#adoptar-mascota  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 2rem;
}
#adoptar-mascota .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#adoptar-mascota .caracteristicas p {
    height: 1.5rem;
}

#adoptar-mascota .item-caracteristica{
    background-color: var(--background-color);
    font-size: 3rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: var(--border-radius-secondary);
    color: var(--primary-color); 
    box-shadow: 0px 8px 50px -6px rgba(0, 0, 0, 0.1); 
    transition:  all 0.3s ease;  ;
}

 
#adoptar-mascota .item-caracteristica:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Donaciones */

#donaciones {
    /* background-image: url('../imagenes/graduacion.jpg'); */
    background: linear-gradient(90deg, rgba(10, 48, 58, 0.6), rgba(231, 58, 45,0.6)), url('../assets/images/banner/banner.avif');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right center; 
}

#adoptar-mascota .caracteristicas img {
    width: 10rem; 
}

#adoptar-mascota .caracteristicas p {
    height: 1rem;
}

/* Donaciones */

#donaciones {
    /* background-image: url('../imagenes/graduacion.jpg'); */
    background: linear-gradient(90deg, rgba(10, 48, 58, 0.6), rgba(231, 58, 45,0.6)), url('../assets/images/banner/banner.avif');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right center; 
}

#donaciones .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#donaciones .title,
#donaciones p{
    color: var(--background-color-secondary);
}


#donaciones button{
    border: none; 
    margin-top: 1rem;
}

/* nuestro-equipo veterinarios */

.veterinario {
    position: relative;
}

.veterinario-descripcion {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 84%;
    padding: 0 3rem;
    background-color: rgba(255, 255, 255,0.5); /* Fondo oscuro semi-transparente */
    z-index: 2; /* Asegura que esté encima de otros elementos */
    color: #fff; /* Texto en color blanco para contraste */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--border-radius-secondary);
    opacity: 0; /* Oculta la descripción por defecto */
    transition: opacity 0.5s ease; /* Transición suave */
}

.veterinario:hover .veterinario-descripcion {
    opacity: 1; /* Muestra la descripción al hacer hover */
}

.veterinario-nombres{
    position: relative;
    top: -30px;
    margin: 0 1rem;
    z-index: 3;
}

.veterinario-descripcion p{
    
    color: var(--secondary-color2) ;
}
.veterinario-descripcion a{ 
    text-decoration: none;
    color: var(--secondary-color);
}

.veterinario-descripcion .button-primary{
    color: var(--background-color);
}
 


/* Noticias */
#noticias {
    background-color: var(--background-color);
}

.card-noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card-noticias h3 {
    font-size: 24px;
    margin: 0.5rem 0;
}

.card-noticias h3 {
    font-size: 24px;
    margin: 0.5rem 0;
}

.card-noticias p {
    font-size: 1rem;
    letter-spacing: 0.03rem;
    margin: 0.5rem 0;
}

.scroll-up {

    width: 45px;
    height: 45px;
    background-color: var(--color1);
    color: var(--color3);
    text-align: center;
    line-height: 45px;
    font-size: 1em;
    border: 1px solid var(--color3);

    /* Posicionamiento del botón */
    position: fixed;
    bottom: 30px;
    right: 30px;

}