.ajuste-mapa{
    width: 100%;
    height: 800px; /* Alto fijo */
}

.sticky-top {
    position: sticky;
    top: 0; /* Fija el elemento en la parte superior */
    z-index: 1020; /* Asegura que el encabezado esté por encima de otros elementos */
}

.barra {
    display: flex; /* Utiliza flexbox para la disposición de los elementos */
    flex-direction: row; /* Alinea los elementos en una fila */
    justify-content: space-between; /* Espacia los elementos de manera uniforme */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    position: relative; /* Posiciona el elemento de manera relativa para los hijos */
}

.logo {
    width: 140px; /* Establece el ancho del logo */
}

.menu {
    display: flex; /* Utiliza flexbox para el menú */
    flex-direction: row;
    list-style: none; /* Quita los marcadores de viñetas de la lista */
    gap: 1rem; /* Añade un espaciado de 1rem (16px) entre los elementos del menú */
}

.header-shape {
    background-image: url("../assets/images/bg/header_shape.png"); /* Establece una imagen de fondo */
    position: absolute; /* Posiciona el elemento de manera absoluta */
    top: 3rem; /* Coloca el elemento a 3rem (48px) desde la parte superior */
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
    height: 58px; /* Establece la altura del elemento */
    z-index: -1; /* Coloca el elemento detrás de otros elementos */
    background-repeat: repeat; /* Repite la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
}

.nav-button {
    padding-left: 2rem; /* Añade un relleno a la izquierda de 2rem (32px)*/
    border-left: 2px solid #d5d2d2; /* Añade un borde a la izquierda */
}

.active, .nav-menu-link:hover {
    position: relative; /* Posiciona el elemento de manera relativa */
    display: inline-block; /* Hace que el elemento se comporte como un bloque en línea */
    color: var(--background-color) !important; 
    font-weight: bold; /* Establece el texto en negrita */
    background-color: transparent; /* Establece un fondo transparente */
    background-image: url('../assets/images/slider/arrow_bg.png'); /* Establece una imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
    background-size: 100% 100%; /* Ajusta la imagen de fondo para que ocupe todo el espacio */
    border: none; /* Quita el borde del elemento */
    text-align: center; /* Centra el texto dentro del elemento */
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    transition: opacity 0.3s linear, transform 0.3s linear; /* Añade una transición suave para opacidad y transformación */
    z-index: 1; /* Asegura que el elemento esté por encima de otros elementos */
}

/* Pagina nosotros */

.grupo {
    display: flex; /* Utiliza flexbox para la disposición de los elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
    justify-content: center; /* Centra los elementos horizontalmente */
    margin: 1px;
    width: 100%;
}

.miembros {
    background-color: white;
    color: #002b55; /* Establece el color del texto */
    border-radius: 15px; /* Añade bordes redondeados */
    margin: 5px; /* Añade un margen de 5px alrededor del elemento */
    padding: 15px; /* Añade un relleno interno de 15px */
    flex-basis: 18%; /* Establece el tamaño de cada miembro en un 18% del ancho */
    height: auto;
    text-align: center; /* Centra el texto dentro del elemento */
}

.miembros img {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    border-radius: 25%; /* Hace que la imagen sea circular */
}

.miembros h3 {
    font-size: 2em; /* Establece el tamaño de fuente del nombre del miembro */
    margin: 10px 0 5px 0; /* Añade márgenes superior e inferior */
}

.miembros h2 {
    font-size: 1em; /* Establece el tamaño de fuente del nombre del miembro */
    margin: 5px 0 5px 0; /* Añade márgenes superior e inferior */
}

.miembros p {
    font-size: 0.5em; /* Establece el tamaño de fuente de la descripción del miembro */
    text-align: center;
}

.seccion-nosotros {
    text-align: center; /* Centra el texto dentro de la sección del equipo */
    padding: 50px; /* Añade un relleno de 50px alrededor de la sección */
    background-color: #e73a2d; /* Establece el color de fondo de la sección del equipo */
    color: white; /* Establece el color del texto en blanco */
    background-image: url('../assets/images/Nosotros/fondo\ 2.jpg'); /* Agrega la imagen de fondo */
    width: 100%;
    height: auto; /* Ajusta la altura de la sección */
}

.seccion-nosotros h1 {
    font-size: 4em; /* Establece el tamaño de fuente del título */
    margin-bottom: 30px; /* Añade un margen inferior de 20px */
}

/* PREGUNTAS FRECUENTES */

/* Contenedor de preguntas: dos columnas */
.Preguntas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espaciado entre las cajas */
    padding: 20px;
    background-image: url('../assets/images/Nosotros/fondo\ 2.jpg'); /* Agrega la imagen de fondo */
    height: 60em;
}

/* Diseño de cada pregunta */
.Pregunta {
    position: relative;
    background: #ffffff;
    border: 1px solid #d1d9e6;
    border-radius: 12px; /* Bordes redondeados para un diseño más atractivo */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.Pregunta:hover {
    transform: scale(1.03); /* Efecto de zoom al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Título de la pregunta */
.Pregunta h3 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}
.Pregunta p {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

/* Ícono de suma/resta */
.Pregunta .icono {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #e73a2d;
    transition: transform 0.3s ease;
}

/* Respuesta */
.Respuesta {
    display: none; /* Ocultamos inicialmente */
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    text-align: left;
}

/* Respuesta visible */
.Respuesta.visible {
    display: block;
}

/* Ícono activo (rotación para efecto dinámico) */
.Pregunta .icono.activo {
    transform: rotate(45deg); /* Rotación para el ícono "-" */
    color: #333; /* Cambia el color del ícono cuando está activo */
}

/* Diseño cuadrado */
.Pregunta {
    height: 200px; /* Hacemos las cajas cuadradas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Respuesta abierta */
.Pregunta.expandida {
    height: auto; /* La altura se ajusta al contenido */
}

/* contactos */



.contact-container {
    display: flex;
    width: 80% ;
    margin: 0 auto;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; 
}

.contact-form {
    width: 100%;
    padding: 3rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 40%;
    background-image: url('../assets/images/bg/newsletter_bg.jpg    ');
    color: var(--background-color);
    padding: 4rem 2.5rem;
}

.contact-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--background-color);
    display: flex;
    align-items: center;
}

.contact-info h3 i {
    margin-right: 8px;
}

.contact-info p { 
    font-size: 0.8rem;
    line-height: 1.5;
    color: var(--background-color);
}
.contact-info strong { 
    font-size: 0.9rem;
    margin-right: 0.8rem;
}
.contact-info a {
    color: #ffffff;
    text-decoration: none;
}

 

.contact-form .button-primary {
    width: 100%;
    padding: 10px;
    margin-top: 15px;    
    border: none; 
    cursor: pointer;
    text-transform: uppercase;
}

 
.contact-usuario{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.contact-usuario div{
    width: 100%;
}

.contact-form form{
    padding-top: 1.5rem;
}

/* Contenedor para input y label */
.input-container {
    position: relative;
    margin-bottom: 20px;
}

/* Estilos de input y textarea */
.input-container input[type="text"],
.input-container input[type="email"],
.input-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.input-container input[type="text"]:focus,
.input-container input[type="email"]:focus,
.input-container textarea:focus {
    border-bottom: 2px solid var(--secondary-color);
}


/* Efecto flotante para el label */
.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label,
.input-container textarea:focus ~ label,
.input-container textarea:not(:placeholder-shown) ~ label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: var(--secondary-color);
}


/* Estilo para labels flotantes */
.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease all;
}


/* Checkbox y botón de envío */
.contact-form .checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: #666;
}


.checkbox input{ 
    margin-right: 1rem;
}

.checkbox label {
    margin: 0; 
    font-weight: 500;
}  


/* seccion cjas para redes sociales - contactanos */

.social-media {
    display: flex; /* Flexbox para colocar los elementos en una fila */
    gap: 10px; /* Espaciado entre los íconos */
    width: 100%; /* Asegúrate de que la sección ocupe el 100% del ancho */
    justify-content: space-around;
    margin: 0.5rem 0;
}

.social-media .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Permite que el icono crezca para ocupar el espacio disponible */
    height: 100px;
    background-color:var(--secondary-color); 
    border-radius: var(--border-radius);
    
    font-size: 2em; /* Tamaño del ícono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    transition: all 0.3s ease; /* Transición suave para el efecto hover */
}

.social-media .icon i{
    color: var(--background-color);
}

.icon:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor */
    box-shadow: var(--box-shadow);
}